<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading">My Hacker News</div>

    <!-- List group -->
    <div class="list-group">
        <a th:each="news:${newsList}" th:text="${news.title}"  th:href="${news.url}" class="list-group-item">

        </a>

    </div>
</div>

</body>
</html>